<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1TMRS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlett</display-name>
    <servlet-name>LoginServlett</servlet-name>
    <servlet-class>servlets.LoginServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlett</servlet-name>
    <url-pattern>/LoginServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServ</display-name>
    <servlet-name>HomeServ</servlet-name>
    <servlet-class>servlets.HomeServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServ</servlet-name>
    <url-pattern>/HomeServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServ</display-name>
    <servlet-name>EmployeeServ</servlet-name>
    <servlet-class>servlets.EmployeeServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServ</servlet-name>
    <url-pattern>/EmployeeServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BencoServ</display-name>
    <servlet-name>BencoServ</servlet-name>
    <servlet-class>servlets.BencoServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BencoServ</servlet-name>
    <url-pattern>/BencoServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorServ</display-name>
    <servlet-name>SupervisorServ</servlet-name>
    <servlet-class>servlets.SupervisorServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorServ</servlet-name>
    <url-pattern>/SupervisorServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepHServ</display-name>
    <servlet-name>DepHServ</servlet-name>
    <servlet-class>servlets.DepHServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepHServ</servlet-name>
    <url-pattern>/DepHServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>servlets.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
</web-app>