<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>webPractice</display-name>
  <servlet>
    <description></description>
    <display-name>GetFormsServlet</display-name>
    <servlet-name>GetFormsServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetFormsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFormsServlet</servlet-name>
    <url-pattern>/html2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimFormServlet</display-name>
    <servlet-name>EmployeeReimFormServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeReimFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimFormServlet</servlet-name>
    <url-pattern>/ServletWriter2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/MainLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSubmitServlet</display-name>
    <servlet-name>StudentSubmitServlet</servlet-name>
    <servlet-class>com.revature.servlets.StudentSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSubmitServlet</servlet-name>
    <url-pattern>/StudentSentRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStatusServlet</display-name>
    <servlet-name>CheckStatusServlet</servlet-name>
    <servlet-class>com.revature.servlets.CheckStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStatusServlet</servlet-name>
    <url-pattern>/CheckStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenCoServlet</display-name>
    <servlet-name>BenCoServlet</servlet-name>
    <servlet-class>com.revature.servlets.BenCoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenCoServlet</servlet-name>
    <url-pattern>/BenCoServlet</url-pattern>
  </servlet-mapping>
</web-app>