<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
  <servlet-name>SubmissionServlet</servlet-name>
  <servlet-class>com.revature.servlet.SubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmissionServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
</web-app>